<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>  
    <h3>Products</h3>
    <table>
    <tr th:each="cartItem : ${cart}">
        <td><a th:href="@{/products/{id}(id=${product.id})}">Edit</a></td>
        <td> | </td>
        <td th:text="${cartItem.name}">Name</td>
        <td> | </td>
        <td th:text="${cartItem.quantity}">Quantity</td>
    </tr>
	</table>
	<p>Total sum of products is: </p>
	<p th:text="${sum}">Sum</p>
	  <a href="/products">Go back</a><br/>
	  <a href="/payment">Proceed with payment</a>
	  
	  
</body>
</html>